* {
    padding: .1%;
    -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;

}

.w-0 {
    width: 0;
}
.h-0 {
    height: 0;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    cursor: default;
}